---
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<ol 
   class="breadcrumb"
   {...storyblokEditable(blok)}
>
	<!-- Home Crumb -->
	<li class="crumb"><a class="anchor" href="/elements/breadcrumbs">Home</a></li>
	<!-- Other Crumbs -->
	{
      blok.slot?.map((blok: SbBlokData) => {
        return <StoryblokComponent blok={blok} />
      })
   }
</ol>