---
import { t, changeLanguage } from "i18next";
// Astro components
import BaseLayout 	from "@layouts/BaseLayout.astro";
import Page 			from "@comp/Base/Page.astro";
import Section 		from "@comp/Base/Section.astro";
import Hero 			from "@comp/Main/Hero/Hero.astro";
import { Icon } 		from "astro-icon";
import { Picture } 	from "@astrojs/image/components";
// Svelte components
import Box 				from "@comp/Base/Box.svelte";
import Heading 		from "@comp/Common/Heading/Heading.svelte";
import Button 			from "@comp/Common/Button/Button.svelte";
import Card 			from "@comp/Common/Card/Card.svelte";
import Drawer 			from "@comp/Common/Drawer/Drawer.svelte";
import Svg 				from "@comp/Media/Svg/Svg.svelte";
import MistLogoAnim 	from "@comp/Media/Svg/svg-assets/MistLogoAnim.svelte";
// Page specific components
import AboutTechStackMarquee from "@comp/Pages/About/AboutTechStackMarquee.astro";
import LinkedInBtn 	from "@comp/Pages/About/SocialBtns/LinkedInBtn.astro";
import GithubBtn 		from "@comp/Pages/About/SocialBtns/GithubBtn.astro";
import FacebookBtn 	from "@comp/Pages/About/SocialBtns/FacebookBtn.astro";
import InstagramBtn 	from "@comp/Pages/About/SocialBtns/InstagramBtn.astro";
// Common Section components
import CallToAction 	from "@comp/Pages/Common/CallToAction.astro";
import Title from "@/components/Common/Title/Title.svelte";

changeLanguage("nl");

// Value Cards
let valueCards:{[key:string]:string}[] = [];
/* @ts-ignore */
t("about:values.items").forEach((value) => {
	 valueCards.push({
		  title: value.title,
		  description: value.desc,
		  icon: 'DevicesResponsive'
	 })
});
export const prerender = true;
---

<BaseLayout title={t("site:pages.about.title")}>
	<Page>
		<!-- HERO -->
		<Hero slot="hero" title="About Us" media>
			<div slot="media" class="w-1/3 mb-6">
				<MistLogoAnim client:only light={`fill-surface-400 dark:fill-surface-400`} dark={`fill-surface-600 dark:fill-surface-100`} />
			</div>
			<span slot="subtitle">
				{t("about:intro.desc")}
			</span>
		</Hero>
		<!-- END HERO -->

		<!-- ABOUT ME -->
		<Section name="about-me" title="" alt>
			<div class="w-full h-fit flex flex-row gap-4 sm:gap-6 mx-auto">
				<Box 
					class="h-full"
					client:load
					size="none">
					<Picture 
						src="/images/team/MiroStorm-Color.png"
						alt={`Miro Storm - ${t("about:miro.title")}`}
						sizes="(min-width: 600px;) 400w, (min-width: 800px;) 600w, (min-width: 1200px;) 800w"
						widths={[400, 600, 800]}
						formats={['webp', 'avif', 'png']}
						aspectRatio={1}
						fit="cover"
						position="center"
						class="h-full w-auto max-w-sm bg-transparent"
					/>
				</Box>
				<div class="flex flex-col justify-start gap-4">
					<Card color="surface" klass="col-span-3 sm:row-span-1">
						<Heading type="h3" size="xs" slot="title">
							{t("about:miro.hello")}<br />
							{t("about:miro.i_am")}
						</Heading>
						<p>
							{t("about:miro.desc.0")}<br/>
							{t("about:miro.desc.1")}
						</p>
					</Card>
					<!-- Buttons -->
					<div class="flex flex-row gap-4 col-span-12 sm:col-span-8 sm:row-span-1">
						<!-- About Me -->
						<Drawer client:load>
							<Button slot="trigger" color="surface_alt" size='xl' variant="fill" capitalize>
								{t("about:miro.more.title")}
							</Button>
							<span slot="title" class="capitalize">{t("about:miro.more.title_alt")}</span>
					</Drawer>

					<LinkedInBtn />
					<GithubBtn />
					<!-- <FacebookBtn /> -->
					<!-- <InstagramBtn /> -->
					</div>
				</div>
			</div>
		</Section>
		<!-- END ABOUT ME -->

		<!-- VALUES -->
		<Section 
			fullWidthAppend
			name="about-difference" title={`${t("about:values.title")}`}
			subtitle={`${t("about:values.subtitle")}`}>
			<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-8">
				{valueCards.map((value) => (
					<><Card client:idle direction="row" centerRow block hover active>
						<Title slot="title" h3 size="xs" weight="font-bold">
							{value.title}
						</Title>
						<Svg 
							slot="media" animIcon={value.icon} client:load 
						/>
						{value.description}
					</Card></>
				))}
			</div>

			<AboutTechStackMarquee slot="append" />
		</Section>
		<!-- END VALUES -->

		<!-- CTA -->
		<CallToAction />
		<!-- END CTA -->

	</Page>
</BaseLayout>
