---
import { t, changeLanguage } from "i18next";
import { ICONS } from "@const/index";
// Astro components
import BaseLayout 	from "@layouts/BaseLayout.astro";
import Page 			from "@comp/Base/Page.astro";
import Section 		from "@comp/Base/Section.astro";
import Hero 			from "@comp/Main/Hero/Hero.astro";
// Svelte components
import Heading 		from "@comp/Common/Heading/Heading.svelte";
import Card 			from "@comp/Common/Card/Card.svelte";
import Drawer 			from "@comp/Common/Drawer/Drawer.svelte";
// Page specific components
import AboutTechStackMarquee from "@comp/Pages/About/AboutTechStackMarquee.astro";
// Common Section components
import CallToAction 	from "@comp/Pages/Common/CallToAction.astro";
// Import feature sidebar components
import WebFeatAccessible from "@comp/Pages/Solutions/Web/Features/WebFeatAccessible.astro";
import WebFeatFast from "@comp/Pages/Solutions/Web/Features/WebFeatFast.astro";
import WebFeatResponsive from "@comp/Pages/Solutions/Web/Features/WebFeatResponsive.astro";
import WebFeatSecure from "@comp/Pages/Solutions/Web/Features/WebFeatSecure.astro";
import WebFeatUxUi from "@comp/Pages/Solutions/Web/Features/WebFeatUxUi.astro";
import WebFeatSeo from "@comp/Pages/Solutions/Web/Features/WebFeatSeo.astro";
import WebFeatTech from "@comp/Pages/Solutions/Web/Features/WebFeatTech.astro";
import WebFeatSupport from "@comp/Pages/Solutions/Web/Features/WebFeatSupport.astro";

changeLanguage("nl");

// Feature Cards
let featureCards:{[key:string]:string}[] = [];
/* @ts-ignore */
Object.keys(t("services:services.web.features")).forEach((key) => {
	 featureCards.push({
		key: key,
		title: t(`services:services.web.features.${key}.title`),
		description: t(`services:services.web.features.${key}.description`),
		icon: ICONS.features.web[key]
	 })
});
---

<BaseLayout title={t("site:pages.solutions.solutions.web.title")}>
	<Page>
		<!-- HERO -->
		<Hero slot="hero" alt bgImg="/images/stock/webdev-2.webp" title="Web Solutions">
			<span slot="subtitle">
				We're proud to present a growing selection of cases we have worked on in the past.
			</span>
		</Hero>
		<!-- END HERO -->

		<!-- FEATURES -->
		<Section fullWidthAppend alt name="web-features">
			<div class="w-full grid grid-cols-2 md:grid-cols-4 gap-8">
				{featureCards.map((feature) => (
					<><Drawer client:idle>
						<Card 
							slot="trigger" direction="row" 
							centerRow fillHeight noBody 
							block hover active 
							media="animIcon" icon={feature.icon}
							iconSize={40}
						>
							<Heading slot="title" type="h3" size="xxs" weight="font-bold">
								<span class="mb-1">{feature.title}</span>
							</Heading>
						</Card>
						{() => {
								switch (feature.key) {
									case "accessible":
										return <WebFeatAccessible />
									case "fast":
										return <WebFeatFast />
									case "responsive":
										return <WebFeatResponsive />
									case "secure":
										return <WebFeatSecure />
									case "uxui":
										return <WebFeatUxUi />
									case "seo":
										return <WebFeatSeo />
									case "tech":
										return <WebFeatTech />
									case "support":
										return <WebFeatSupport />
									default:
										return <></>
								}
						}}
					</Drawer></>
				))}
			</div>

			<!-- <AboutTechStackMarquee slot="append" /> -->
		</Section>
		<!-- END FEATURES -->

		<!-- PORTFOLIO -->
		<Section fullWidthAppend name="web-portfolio" title="A Look Through Our Work" subtitle="Navigate through a selection of projects we've worked on in the past.">
			Slider here
		</Section>
		<!-- END PORTFOLIO -->

		<!-- PRICING -->
		<Section fullWidthAppend alt name="web-pricing" title="Transparent Pricing" subtitle="Because we both know that's what's important.">
			Cards here
		</Section>
		<!-- END PRICING -->

		<!-- PRICING CALCULATOR -->
		<Section fullWidthAppend name="web-pricing-calculator" title="Estimate your Price" subtitle="Get an estimated price using our price calculation tool!">
			Calculator here
		</Section>
		<!-- END PRICING -->

		<!-- TODO: MAKE ALTERNATIVE CTA -->
		<!-- CTA -->
		<CallToAction />
		<!-- END CTA -->

	</Page>
</BaseLayout>
