---
import Button from "@/components/Common/Button/Button.svelte";
import Svg from "@/components/Media/Svg/Svg.svelte";
---
<Button
   color="custom"
   klass="bg-surface-800 dark:bg-surface-900 hover:bg-surface-700 border-surface-800 hover:border-surface-700 shadow-surface-400 dark:hover:shadow-surface-400"
   size="xs" square active ripple
>
   <Svg
      client:load
      animIcon="GithubIcon"
      size={36}
      animProps={{
         norm: 'fill-surface-700',
         strokeDark: 'stroke-surface-50',
      }}
   />
</Button>
