---
import Button from "@/components/Common/Button/Button.svelte";
import Svg from "@/components/Media/Svg/Svg.svelte";

export interface Props {
   href: string;
}
const { href } = Astro.props;
---
<Button
   href={href} rel="noopener noreferrer" target="_blank"
   color="custom"
   klass="bg-[#1d9bf0] border-[#1d9bf0] shadow-[#136aa4] hover:shadow-[#136aa4c0]"
   size="xs" square active ripple
>
   <Svg
      client:load
      animIcon="TwitterIcon"
      size={36}
      animProps={{
         norm: 'fill-surface-100',
         dark: 'fill-surface-50',
      }}
   />
</Button>
