---
import { classes } from '@/consts/style';

export interface Props {
   name?: string;
   tip?: boolean;
   type: 'solo_img'|'default';
   hover: boolean;
   active: boolean;
}
const { name, tip, type } = Astro.props;

const slideClass = `
   splide__slide overflow-visible
   ${classes.transition}
   ${type === 'solo_img' && `
      bg-transparent opacity-60 
      hover:opacity-80 hover:scale-110 
      active:scale-95
   `}
`;
---


<li class={slideClass} title={tip ? name : ''} aria-label={name?? ''}>
   <slot/>
</li>