---
import { t } from 'i18next';
import ContentWrap from "@/components/Pages/ContentWrap.astro";
import Quote from "@/components/Text/Quote/Quote.svelte";
import Title from "@/components/Text/Title/Title.svelte";


let text: string[] = [];
Object.values(t('services:solutions.web.features.accessible.content.text')).map((value: string) => {
   text.push(value);
});
---

<ContentWrap>
   <Title h3 size="xs" weight="font-thin italic">
      {t('services:solutions.web.features.accessible.content.title')}
   </Title>
   <div>
      {
         text.map((textItem: string) => (
            <>
               <p set:html={textItem} /><br/>
            </>
         ))
      }
   </div>

   <Quote>
      {t('services:solutions.web.features.accessible.content.quote')}
      <span slot="author">{t('services:solutions.web.features.accessible.content.quote_author')}</span>
   </Quote>
   
   <!-- <p>
      For a more in-depth article about web accessibility, follow <Link href="https://www.w3.org/WAI/fundamentals/accessibility-intro/" target="_blank">this link.</Link>.
   </p> -->
</ContentWrap>