---
import { t } from 'i18next'
import { Picture } from "@astrojs/image/components";
import ContentWrap from "@/components/Pages/ContentWrap.astro";
import Link from "@/components/Common/Button/Link.svelte";
import Title from "@/components/Text/Title/Title.svelte";

let text: string[] = [];
Object.values(t('services:solutions.web.features.seo.content.text')).map((value: string) => {
   text.push(value);
});
---

<ContentWrap>
   <Title h3 size="xs" weight="font-thin italic">
      {t('services:solutions.web.features.seo.content.title')}
   </Title>
   {text.map((textItem) => ( <p set:html={textItem} /> ))}
</ContentWrap>