---
import { Picture } from "@astrojs/image/components";
import ContentWrap from "@comp/Base/ContentWrap.astro";
import Link from "@comp/Common/Button/Link.svelte";

---

<ContentWrap>
   <section class="grid grid-cols-2 gap-4">
      <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod natus vero ratione impedit harum sint distinctio quas sapiente fuga.
      </p>
   </section>
</ContentWrap>