---
import i18next, { t, changeLanguage } from "i18next";
// Astro components
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from "@/components/Core/Page/Page.astro";
import Section from "@/components/Core/Section/Section.astro";
import Hero from "@/components/Common/Hero/Hero.astro";
import db from "@/firebase";
import CaseGrid from "@/components/Pages/Cases/CaseGrid.astro";
import type { Locales } from "@/types";

changeLanguage("en");

const lang = i18next.language as Locales;
const portfolio = await db.doc.fetch.collection("portfolio");
// const clients = await db.doc.fetch.collection('clients');
export const prerender = true;
---

<BaseLayout title={t('site:pages.cases.title')}>
   <Page>
      <Hero slot="hero" alt title="Cases">
			<span slot="subtitle">
				{t('cases.intro')}
			</span>
		</Hero>

   <Section name="trixolutions-cases" title="">
      <CaseGrid portfolio={portfolio} lang={lang} />
   </Section>
      
   </Page>
</BaseLayout>