---
import { t } from 'i18next'
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from '@comp/Base/Page.astro';
import Hero from '@comp/Main/Hero/Hero.astro';

import Map from '@comp/Media/Map/Map.svelte';
import Section from '@comp/Base/Section.astro';
import Card from '@comp/Common/Card/Card.svelte';
import Link from '@comp/Common/Button/Link.svelte';
import ContactForm from '@comp/Pages/Contact/ContactForm.svelte';

import { ADDRESS } from '@const/index';
---

<BaseLayout title={t('site:pages.contact.title')}>
   <script 
      slot="head" defer async
	   src={`https://maps.googleapis.com/maps/api/js?key=${import.meta.env.GOOGLE_MAPS_API}&callback=initMap`}>
	</script>
   <Page>
      <div class="fixed inset-0 w-screen h-screen -z-2">
         <Map client:load/>
      </div>

      <Section name="contact-text" title={`${t("contact.cta")}!`} transparent>
         <div class="grid grid-cols-2 gap-32 bg-transparent self-center min-h-[50vh] h-fit">
            <!-- Card Left -->
            <Card 
               client:load fillheight
               color="surface"
               title="Mist Media" footer
               block hover>
               {t("contact.text.0")}<br/>
               {t("contact.text.1")}<br/>
               {t("contact.text.2")}<br/><br/>
               {t("contact.text.3")}

               <div slot="footer" class="w-full flex justify-between">
                  <span>
                     {ADDRESS.street}<br/>
                     {t('geo.nl.antwerp')}<br/>
                     {t('geo.nl.name')}
                  </span>
                  <span>
                     <Link 
                        client:load popup={`${t("contact.mail.cta")}!`}
                        popupPlacement="top"
                        href="mailto:miro@mistmedia.be">
                        miro@mistmedia.be
                     </Link>
                     <Link 
                        client:load popup={`${t("contact.call.cta")}!`} 
                        popupPlacement="bottom"
                        href="phone:0032484340391">
                        +324 84 34 03 91
                     </Link>
                  </span>
               </div>
            </Card>
            <!-- Card Right -->
            <Card 
               client:load fillheight
               color="surface"
               title={`${t("contact.cta")}!`} footer
               block hover capitalize>
               <ContactForm client:load/>
            </Card>
         </div>
      </Section>
      
   </Page>
</BaseLayout>