---
import { t } from 'i18next'
import BaseLayout from "@layouts/BaseLayout.astro";
import Page from '@comp/Base/Page.astro';
import Hero from '@comp/Main/Hero/Hero.astro';

import Map from '@comp/Media/Map/Map.svelte';
import Section from '@comp/Base/Section.astro';
import Card from '@comp/Common/Card/Card.svelte';
import Link from '@comp/Common/Button/Link.svelte';
import ContactForm from '@comp/Pages/Contact/ContactForm.svelte';
---

<BaseLayout title={t('site:pages.contact.title')}>
   <script 
      slot="head" defer async
	   src={`https://maps.googleapis.com/maps/api/js?key=${import.meta.env.GOOGLE_MAPS_API}&callback=initMap`}>
	</script>
   <Page>
      <div class="fixed inset-0 w-screen h-screen -z-2">
         <Map client:load/>
      </div>

   <Section name="contact-text" title="Contact Us!">
      <div class="grid grid-cols-2 gap-32 bg-transparent self-center min-h-[50vh] h-fit">
            <Card 
               client:load fillheight
               color="surface"
               title="Mist Media" footer
               block hover>
               Whether it is a question, comment, critique, inquiry, anything at all. 
               Do not hesitate to contact us in any case!<br/>
               We're here to answer everything you throw at us.<br/><br/>
               We'll do our best to respond within 24 hours.

               <div slot="footer" class="w-full flex justify-between">
                  <span>
                     {t('about.address.street')}<br/>
                     {t('about.address.city')}<br/>
                     {t('about.address.country')}
                  </span>
                  <span>
                     <Link 
                        client:load popup="Mail us!" 
                        popupPlacement="top"
                        href="mailto:miro@mistmedia.be">
                        miro@mistmedia.be
                     </Link>
                     <Link 
                        client:load popup="Call us!" 
                        popupPlacement="bottom"
                        href="phone:0032484340391">
                        +324 84 34 03 91
                     </Link>
                  </span>
               </div>
            </Card>
            <Card 
               client:load fillheight
               color="surface"
               title="Contact Us!" footer
               block hover>
               
               <ContactForm client:load/>

            </Card>
         </div>
      </Section>
      
   </Page>
</BaseLayout>