---
   import { gaps, widths } from '@/consts/style';
   
   // Svelte components
   import type { TitleSizes } from '@/types/components/heading';
   import Title from '@/components/Text/Title/Title.svelte';

   export interface Props {
      title?: string;
      noSub?: boolean;
      customTitle?: boolean;
      titleSize?: TitleSizes;
      alt?: boolean;
      media?: boolean;
      titleWidth?: string;
      cardWidth?: string;
      customHeight?: string;
      klass?: string;
   }

   const { 
      title = '', 
      customTitle = false,
      noSub = false, 
      titleSize = 'md', 
      alt = false, 
      media = false,
      titleWidth = '',
      cardWidth = '', 
      customHeight = '', 
      klass = '' 
   } = Astro.props;

   const innerWidth = cardWidth ? cardWidth : widths;
   
   const cardClass = alt ? ''
      : `flex flex-col sm:flex-row items-center justify-start
         ${gaps} mx-auto`
---

<div
   class={`w-full overflow-hidden relative
         m-0 px-0 
         ${ alt ? 'pt-32 pb-0' : 'pt-32 pb-12' }
         bg-white dark:bg-slate-900
         flex justify-center items-center mix ${klass}`}>
   <!-- Middle Card -->
   <div class={`
         ${ cardClass }
         ${ customHeight ? customHeight : 'h-fit'} 
         ${ innerWidth }`}>
      <!-- Media -->
      { media && (
         <slot name="media"></slot>
      )}

      <div class={`flex flex-col gap-0 sm:gap-1 md:gap-2 w-full ${titleWidth} pb-6`}> 
         { customTitle ? 
            <slot name="title"></slot>
          : 
            <Title h1 class="w-full stroke-2 stoke-error" size={alt ? 'xs' : titleSize}>
               {title}
            </Title>
         }

         { !noSub && (
            <div class='font-title'>
               <Title 
                  h4 fake 
                  size="2xs"
                  weight="font-regular">
                  <slot name="subtitle"/>
               </Title>
            </div>
         )}

         <div class="unstyled">
            <slot/>
         </div>
      </div>

   </div>
</div>