---
import BaseLayout from '../layouts/BaseLayout.astro'
import Page from '../components/Base/Page.astro';
import Section from '../components/Base/Section.astro';

import { Picture } from '@astrojs/image/components';
import { Button, Heading, Hero, Svg } from '../components/svelte';
---

<BaseLayout>
	<Page>
		<Hero slot="hero" customTitle media client:load>
			<Picture 
				slot="bg-img"
				src="/images/stock/code-1.webp"
				alt="Placeholder Hero Image"
				sizes="100vw"
				widths={[320, 640, 1024, 1280, 1920]}
				formats={['webp', 'avif', 'jpeg']}
				aspectRatio={16 / 12}
				fit="cover"
				position="center"
				class="w-full h-auto opacity-70 brightness-75 contrast-125 mix"
			/>
	
			<Picture 
				slot="media"
				src="/images/hero/DevicesShowcase-Light.png"
				alt="Placeholder Hero Image"
				sizes="(min-width: 600px;) 400w, (min-width: 800px;) 600w, (min-width: 1200px;) 800w"
				widths={[400, 600, 800]}
				formats={['webp', 'avif', 'png']}
				aspectRatio={1.172}
				fit="contain"
				position="bottom"
				class="w-fit max-w-md h-auto bg-transparent opacity-70 mix-blend-darken"
			/>
			<div slot="title">
				<div class="">
	
				</div>
				<Heading type="h1" size="sm" color="primary" client:load>
					Hello
				</Heading>
			</div>
		</Hero>

		<Section name="intro">
			Bleep Bloop
			<Button color="primary" variant="filled" ripple bevel tile client:idle>
				Something
			</Button>
		</Section>
	</Page>
</BaseLayout>
