---
import Card from "@/components/Common/Card/Card.svelte";
import Title from "@/components/Text/Title/Title.svelte";
import Svg from "@/components/Media/Svg/Svg.svelte";
import { Icon } from "astro-icon";  
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
   <Card client:idle direction="row" centerRow block variant="outline" color="surface" shadow="none" fillHeight>
      <div slot="title" class="flex flex-row gap-4 items-center justify-start">
         {blok.icon && (
            <Icon name={blok.icon} 
               class={`
                  text-surface-900 group-hover:text-primary-800 
                  dark:text-surface-50 dark:group-hover:text-primary-400 
                  transition-all duration-300 ease-out 
                  w-8 h-auto`} 
            />
         )}
         {blok.icon_anim && (
            <Svg animIcon={blok.icon_anim} size={48} />
         )}
         <Title h3 size="2xs" weight="font-bold">
            {blok.title}
         </Title>
      </div>
      {blok.description}
   </Card>
</div>