---
import CallToAction from "@/components/Pages/Common/CallToAction.astro";
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div class="min-h-screen" {...storyblokEditable(blok)}>
   <div>
      {
         blok.hero?.map((blok: SbBlokData) => {
           return <StoryblokComponent blok={blok} />
         })
      }
   </div>
   
   <main class="w-full">
      <!-- <slot /> -->
      {
         blok.body?.map((blok: SbBlokData) => {
           return <StoryblokComponent blok={blok} />
         })
      }

      {
         blok.end?.map((blok: SbBlokData) => {
         return <StoryblokComponent blok={blok} />
         })
      }
   </main>
</div>