---
import CallToAction from "@/components/Pages/Common/CallToAction.astro";
import { storyblokEditable } from '@storyblok/astro';

// export interface Props {
//    cta?: boolean;
// }

const { cta, blok } = Astro.props;
---

<div class="min-h-screen" {...storyblokEditable(blok)}>
   <div>
      <slot name="hero" />
   </div>
   
   <main class="w-full">
      <slot />

      { cta && <CallToAction /> }
   </main>
</div>