---
import CallToAction from "@/components/Pages/Common/CallToAction.astro";

export interface Props {
   cta?: boolean;
}

const { cta } = Astro.props;
---

<div class="min-h-screen">
   <div>
      <slot name="hero" />
   </div>
   
   <main class="w-full">
      <slot />

      { cta && <CallToAction /> }
   </main>
</div>