---
import Card from "@/components/Common/Card/Card.svelte";
import Title from "@/components/Text/Title/Title.svelte";

export interface Props {
   title: string;
   icon: string;
}

const { title, icon } = Astro.props
---

<Card
   padding="pl-1 md:pl-2 xl:pl-4" gap="gap-1 md:gap-2 xl:gap-4" direction="row"
   innerClass="p-2 md:p-3 xl:p-4"
   centerRow fillHeight noBody block hover active
   media="animIcon" icon={icon} iconSize={32}
   titleClass="h-full"
>
   <Title slot="title" h3 size="2xs" weight="font-bold">
      <div class="h-full flex items-center justify-start">{title}</div>
   </Title>
</Card>
