---
  import BaseHead from './Head/BaseHead.astro';
  import BaseHeadSvelte from './Head/BaseHeadSvelte.svelte';
  import Header from '@/components/Core/Header/Header.astro';
  import Footer from '@/components/Core/Footer/Footer.astro';
	import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
	import { widths } from '../consts/style';
  
  const { pathname } = Astro.url;
  import { detectLocaleFromPath } from 'astro-i18next';
  import i18next, { t } from 'i18next'
  import { locale } from '@/stores';
  import type { Locales } from '@/types';
  locale.set((detectLocaleFromPath(pathname) as Locales));

  export interface Props {
    title: string;
    description?: string;
  }

  const { title, description = '' } = Astro.props;

  const GOOGLE_MAPS_API_KEY = import.meta.env.GC_API;

---
<!DOCTYPE html>
<html lang={i18next.language} class="!w-screen !max-w-full !overflow-x-hidden scroll-mx-0 bg-white dark:bg-slate-900">
  <head>
    <BaseHead 
      title={`${SITE_TITLE} | ${title}`} 
      description={description?? SITE_DESCRIPTION} />
    <BaseHeadSvelte client:load />

    <slot name="head"/>
  </head>

  <body class="min-h-screen !w-screen !max-w-full !overflow-x-hidden">
    <Header width={widths} />
    <div class='mx-auto'>
      <slot />
    </div>
    <Footer />

    <!-- <BaseScripts/> -->
    <!-- <script type="module" src="node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
    <script type="module" src="node_modules/@splidejs/splide-extension-auto-scroll/dist/js/splide-extension-auto-scroll.min.js"></script> -->
  </body>
</html>
