---
  import BaseHead from '@comp/Base/BaseHead.astro';
  import BaseHeadSvelte from '@comp/Base/BaseHeadSvelte.svelte';
  import Header from '@comp/Main/Header/Header.astro';
  import Footer from '@comp/Main/Footer.astro';
	import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
	import { widths } from '../consts/class';

  export interface Props {
    title: string;
    description?: string;
  }

  const { title, description = '' } = Astro.props;

  import i18next, { t } from 'i18next'
  import { Trans } from 'astro-i18next/components'
---
<!DOCTYPE html>
<html lang={i18next.language} class="!w-screen !max-w-full !overflow-x-hidden scroll-mx-0">
  <head>
    <BaseHead 
      title={`${SITE_TITLE} | ${title}`} 
      description={description?? SITE_DESCRIPTION} />
    <BaseHeadSvelte client:load />

    <slot name="head"/>
  </head>

  <body class="min-h-screen !w-screen !max-w-full !overflow-x-hidden">
    <Header width={widths} />
    <div class='mx-auto'>
      <slot />
    </div>
    <Footer />

    <!-- <BaseScripts/> -->
    <script type="module" src="node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
    <script type="module" src="node_modules/@splidejs/splide-extension-auto-scroll/dist/js/splide-extension-auto-scroll.min.js"></script>
  </body>
</html>
