---
import LogoLettering from "@/components/Media/Logo/LogoLettering.svelte";
import { storyblokEditable } from '@storyblok/astro';
import type { SbBlokData } from '@storyblok/astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import sbWidths from '@/storyblok/data/widths';
import type { SbWidths } from '@/storyblok/data/widths';

const { blok } = Astro.props;

const { 
   width,
   klass = '',
} = blok;

const pickedWidth: SbWidths = width || 'full';
---

<div 
   {...storyblokEditable(blok)} 
   class={`${klass} ${sbWidths[pickedWidth]}`}>
   {
      blok.slot?.map((blok: SbBlokData) => {
        return <StoryblokComponent blok={blok} />
      })
   }
</div>