---
import { t } from 'i18next'
import ContentWrap from "@/components/Pages/ContentWrap.astro";
import PieChart from "@/components/Media/Charts/PieChart/PieChart.svelte";


const pieCharts = [
   {
      percentage: 62,
      speed: 16,
      text: t('services:solutions.web.features.responsive.content.text')[0],
   },
   {
      percentage: 85,
      text: t('services:solutions.web.features.responsive.content.text')[1],
   },
   {
      percentage: 91,
      text: t('services:solutions.web.features.responsive.content.text')[2],
   },
   {
      percentage: 88,
      text: t('services:solutions.web.features.responsive.content.text')[3],
   },
   {
      percentage: 73,
      speed: 14,
      text: t('services:solutions.web.features.responsive.content.text')[4],
   },
]

---

<ContentWrap>
   <section class="flex flex-col gap-4">
      <p set:html={t('services:solutions.web.features.responsive.content.intro')} />
      {pieCharts.map((chart) => (
         <div class="flex odd:flex-row-reverse even:flex-row gap-4 items-center">
            <PieChart client:load percentage={chart.percentage} size={120} speed={chart.speed?? 12}/>
            <p>{chart.text}</p>
         </div>
      ))}
   </section>
</ContentWrap>