---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@comp/Base/Section.astro";
import FormattedDate from "@comp/Utils/FormattedDate.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<BaseLayout title={t("site:pages.blog.title")}>
	<Section name="blog" title="Mist Blog">
		<ul>
			{
				posts.map((post) => (
					<li>
						<FormattedDate date={post.data.pubDate} />
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</Section>
</BaseLayout>
